<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org/layout"
	layout:decorator="layout/admin">
<head>
<title
	th:text="#{breadcrumb.admin} + '::' + #{breadcrumb.admin.users} + '::' + #{breadcrumb.admin.users.add}">add</title>
<link rel="stylesheet" th:href="@{#{resource.bootstrap.validator.css}}"></link>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<ol class="breadcrumb">
				<li><a th:href="@{/admin/index}" th:text="#{breadcrumb.admin}">?admin?</a></li>
				<li><a th:href="@{/admin/user/list}"
					th:text="#{breadcrumb.admin.users}">?users?</a></li>
				<li><a class="active" th:href="@{/admin/user/add}"
					th:text="#{breadcrumb.admin.users.add}">?add?</a></li>
			</ol>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<form id="form" method="post" th:action="@{/admin/user/insert}"
						action="#" class="form-horizontal bv-form" role="form">
						<div class="form-group form-group-sm">
							<label for="username" class="col-sm-4 control-label"
								th:text="#{label.user.username}">?username?</label>
							<div class="col-sm-8">
								<input type="text" class="form-control bv-input" name="username"
									id="username" />
								<div class="hidden">
									<div class="validators">
										<div class="notEmpty">
											<div class="message"
												th:text="#{validator.required(#{label.user.username})}"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label for="fullname" class="col-sm-4 control-label"
								th:text="#{label.user.fullname}">?name?</label>
							<div class="col-sm-8">
								<input type="text" class="form-control bv-input" name="fullname"
									id="fullname" />
								<div class="hidden">
									<div class="validators">
										<div class="notEmpty">
											<div class="message"
												th:text="#{validator.required(#{label.user.fullname})}"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label for="password" class="col-sm-4 control-label"
								th:text="#{label.user.password}">?password?</label>
							<div class="col-sm-8">
								<input type="password" class="form-control bv-input"
									name="password" id="password" />
								<div class="hidden">
									<div class="validators">
										<div class="notEmpty">
											<div class="message"
												th:text="#{validator.required(#{label.user.password})}"></div>
										</div>
										<div class="identical">
											<div class="field">confirmPassword</div>
											<div class="message"
												th:text="#{validator.not.same(#{label.user.password}, #{label.user.password.confirm})}"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label for="confirmPassword" class="col-sm-4 control-label"
								th:text="#{label.user.password.confirm}">?confirm?</label>
							<div class="col-sm-8">
								<input type="password" class="form-control bv-input"
									name="confirmPassword" id="confirmPassword" />
								<div class="hidden">
									<div class="validators">
										<div class="notEmpty">
											<div class="message"
												th:text="#{validator.required(#{label.user.password.confirm})}"></div>
										</div>
										<div class="identical">
											<div class="field">password</div>
											<div class="message"
												th:text="#{validator.not.same(#{label.user.password}, #{label.user.password.confirm})}"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-sm-4 control-label"
								th:text="#{label.user.enabled}">?enabled?</label>
							<div class="col-sm-8">
								<input id="enabled-y" type="radio" value="true"
									checked="checked" name="enabled" /> <label for="enabled-y"
									th:text="#{label.yes}">?yes?</label> <br /> <input
									id="enabled-n" type="radio" value="false" name="enabled" /> <label
									for="enabled-n" th:text="#{label.no}">?no?</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-8 col-sm-offset-4">
								<button type="submit" class="btn btn-primary btn-block"
									th:text="#{label.save}">?save?</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div layout:fragment="javascript">
		<script type="text/javascript"
			th:src="@{#{resource.bootstrap.validator.js}}"></script>
		<script type="text/javascript"
			th:src="@{/resources/js/common/list.js}"></script>
		<script type="text/javascript"
			th:src="@{/resources/js/common/validator.js}"></script>
	</div>
</body>
</html>
