<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org/layout"
	layout:decorator="layout/admin">
<head>
<title th:text="#{breadcrumb.admin} + '::' + #{breadcrumb.admin.users}">?users?</title>
<link rel="stylesheet" th:href="@{#{resource.jquery.ui.css}}"></link>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<ol class="breadcrumb">
				<li><a th:href="@{/admin/index}" th:text="#{breadcrumb.admin}">?admin?</a></li>
				<li class="active"><a th:href="@{/admin/user/list}"
					th:text="#{breadcrumb.admin.users}">?Users?</a></li>
			</ol>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-2">
					<p>
						<a th:href="@{/admin/user/add}" class="btn btn-block btn-primary"><span
							class="fa fa-fw fa-2 fa-plus"></span> <span
							th:text="#{label.add}">?add?</span></a>
					</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<table id="table"
						class="table table-striped table-hover table-condensed">
						<thead>
							<tr>
								<th th:text="#{label.user.username}">?username?</th>
								<th th:text="#{label.user.fullname}">?name?</th>
								<th th:text="#{label.user.roles}">?roles?</th>
								<th th:text="#{label.user.password}">?password?</th>
								<th th:text="#{label.remove}">?remove?</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item: ${list}">
								<td><a th:href="@{/admin/user/edit(id=${item.username})}"
									href="#"><span class="item-label item-id"
										th:text="${item.username}">?id?</span></a></td>
								<td><span th:text="${item.fullname}">?name?</span></td>
								<td><span th:text="#{label.edit}">?roles?</span></td>
								<td><a href="#" class="link-change-password"
									th:text="#{label.change}">?change?</a></td>
								<td><a href="#" class="link-remove btn-danger"><span
										th:title="#{label.remove}" class="fa fa-fw fa-2 fa-times"></span></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="hidden">
			<div th:replace="layout/dialog :: dialog-delete"></div>
			<a id="link-action-delete" th:href="@{/admin/user/remove}"></a>
		</div>
	</div>
	<div layout:fragment="javascript">
		<script type="text/javascript" th:src="@{#{resource.jquery.ui.js}}"></script>
		<script type="text/javascript" th:src="@{#{resource.mustachejs.js}}"></script>
		<script type="text/javascript" th:src="@{#{resource.jquery.form.js}}"></script>
		<script type="text/javascript"
			th:src="@{/resources/js/common/list.js}"></script>
	</div>
</body>
</html>
