<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org/layout">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title th:text="#{'app.name'} + ' :: ' + #{title.login}">Login</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" th:href="@{#{resource.bootswatch.css}}"></link>

<!-- Custom styles for this template -->
<link th:href="@{/resources/css/login.css}" rel="stylesheet"></link>

<script type="text/javascript" th:src="@{#{resource.modernizr.js}}"></script>
<script type="text/javascript" th:src="@{#{resource.respond.js}}"></script>
</head>

<body>

	<div class="container">

		<form class="form-signin" action="#" th:action="@{/security_check}"
			method="post">
			<fieldset>
				<h2 class="form-signin-heading">Please sign in</h2>
				<input type="text" class="form-control" placeholder="Email address"
					required="required" autofocus="autofocus" name="j_username"
					id="j_username" /> <input type="password" class="form-control"
					placeholder="Password" required="required" id="j_password"
					name="j_password" />
				<button class="btn btn-lg btn-primary btn-block" type="submit"
					id="submit">Sign in</button>
			</fieldset>
		</form>

	</div>
	<!-- /container -->


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" th:src="@{#{resource.jquery.js}}"></script>
	<script type="text/javascript" th:src="@{#{resource.bootstrap.js}}"></script>
</body>
</html>
