<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Task
	List</title>
<link th:href="@{#{resource.bootstrap.css}}" rel="stylesheet"></link>
<link th:href="@{/resources/css/login.css}" rel="stylesheet"></link>
</head>

<body>
	<div class="container"></div>
	<script type="text/javascript" th:src="@{#{resource.jquery.js}}"></script>
	<script type="text/javascript" th:src="@{#{resource.bootstrap.js}}"></script>
</body>
</html>

